<div class="container">
  <div id="saved-match" class="row">
    <div class="col s12">
      <h4 class="section-title">Saved Matches</h4>
    </div>
    <div class="col s12">
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Match</th>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody id="saved-match-list">
          <tr>
            <td id="data-not-found" colspan="3" style="text-align: center;">Data Tidak Tersedia</td>
            <td id="data-process" colspan="3" style="text-align: center; display: none;">Sedang mengambil data...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>